
input:is([type="checkbox"], [type="radio"]) {
	-webkit-appearance: none;
	width: 2em;
	height: 2em;
  ;
	border-radius: 0.3em;
  width: 40px;
  height: 40px;

	&:hover {
		border: 2px solid $color-secondary;
	}

	&:focus {
		outline-offset: 2px;
	}

	&:checked {
		background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xml:space='preserve' viewBox='-10 -10 64.56 64.56'%3E%3Cpath d='M23.297 38.74a6.563 6.563 0 0 1-10.16.499L1.308 26.112a5.083 5.083 0 1 1 7.551-6.805l8.369 9.288a.617.617 0 0 0 .956-.047L35.386 5.217a5.083 5.083 0 1 1 8.181 6.032L23.297 38.74z'/%3E%3C/svg%3E"), rgba(79, 70, 49, 1);
		background-repeat: no-repeat;
	}
}

input:is([type="radio"]) {
	border-radius: 50%;
}

@include desktop {
  input:is([type="checkbox"], [type="radio"]) {
    width: 37px;
    height: 37px;
  }
}

input[type="radio" i] {
  box-sizing: border-box;
  margin: 0;
}