.desc {
  font-family: $font-secondary;
  color: $color-text-primary;
  font-weight: 400;
  display: block;
  line-height: toRem(20px);
}

@include desktop {
  .desc {
    line-height: toRem(22px);
  }
}
