.icon {
  display: flex;
}

.icon-off {
  @include width-height(toRem(20px), toRem(20px));
  background-image: url('/assets/images/headers/off.svg');
}

.icon-nav {
  @include width-height(toRem(18.75px), toRem(14.25px));
  background-image: url('/assets/images/headers/nav.png');
}


.icon-search {
  @include width-height(toRem(24px), toRem(24px));
  background-image: url('/assets/images/headers/search-icon.png');
}

.icon-cart {
  @include width-height(toRem(24px), toRem(24px));
  background-image: url('/assets/images/headers/cart.svg');
}

.icon-login {
  @include width-height(toRem(24px), toRem(24px));
  background-image: url('/assets/images/headers/login.svg');
}

.icon-prev {
  @include width-height(toRem(24px), toRem(24px));
  background-image: url('/assets/images/comments/prev-icon.svg');
}

.icon-next {
  @include width-height(toRem(24px), toRem(24px));
  background-image: url('/assets/images/comments/next-icon.svg');
}

.icon-twitter {
  @include width-height(toRem(28px), toRem(28px));
  background-image: url('/assets/images/footers/twitter.png');
}

.icon-fb {
  @include width-height(toRem(28px), toRem(28px));
  background-image: url('/assets/images/footers/fb.svg');
}

.icon-intagram {
  @include width-height(toRem(28px), toRem(28px));
  background-image: url('/assets/images/footers/intagram.png');
}

.icon-github {
  @include width-height(toRem(28px), toRem(28px));
  background-image: url('/assets/images/footers/github.png');
}

.icon-delete {
  @include width-height(toRem(20px), toRem(20px));
  background-image: url('/assets/images/carts/delete.svg');
}

.icon-plus {
  @include width-height(toRem(20px), toRem(20px));
  background-image: url('/assets/images/details/plus.png');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-span {
  @include width-height(toRem(20px), toRem(20px));
  background-image: url('/assets/images/details/span.png');
  background-repeat: no-repeat;
  background-position: center;
}


.icon-plus-cart {
  @include width-height(toRem(16px), toRem(16px));
  background-image: url('/assets/images/details/plus.png');
  background-repeat: no-repeat;
  background-position: center;
}

.icon-span-cart {
  @include width-height(toRem(16px), toRem(16px));
  background-image: url('/assets/images/details/span.png');
  background-repeat: no-repeat;
  background-position: center;
}


@include desktop {
  .icon-search {
    display: none;
  }

  .icon-plus-cart {
    @include width-height(toRem(20px), toRem(20px));
  }

  .icon-span-cart {
    @include width-height(toRem(20px), toRem(20px));
  }

}

.icon-right {
  @include width-height(toRem(20px), toRem(20px));
  background-image: url('/assets/images/categorys/Vector (1).png');
  background-repeat: no-repeat;
}

.icon-up {
  @include width-height(toRem(16px), toRem(16px));
  background-image: url('/assets/images/categorys/Vector (1).png');
  background-repeat: no-repeat;
  transform: rotate(-90deg);
}

.icon-ctg {
  @include width-height(toRem(32px), toRem(32px));
  background-image: url('/assets/images/categorys/Frame 19 (1).svg');
  background-repeat: no-repeat;
  margin-left: auto
}

.icon-ctg-prev {
  @include width-height(toRem(16px), toRem(12px));
  background-image: url('/assets/images/categorys/Icon.svg');
  background-repeat: no-repeat;
  transform: rotate(-180deg);
}

.icon-ctg-next {
  @include width-height(toRem(16px), toRem(12px));
  background-image: url('/assets/images/categorys/Icon.svg');
  background-repeat: no-repeat;
}

.icon-close {
  @include width-height(toRem(16px), toRem(16px));
  background-repeat: no-repeat;
  color: black;
  float: right;
}

.icon-filter {
  @include width-height(toRem(16px), toRem(16px));
  background-image: url("/assets/images/categorys/Frame.png");
  background-repeat: no-repeat;
  display: none;
}

.icon-promo {
  @include width-height(toRem(17.5px), toRem(17.5px));
  background-image: url("/assets/images/carts/promo.png");
  background-repeat: no-repeat;
}


@include desktop {
  .icon-ctg {
    display: none;
  }

  .icon-filter {
    display: block;
  }

  .icon-close {
    display: none;
  }


  .icon-plus {
    @include width-height(toRem(24px), toRem(24px));
  }

  .icon-span {
    @include width-height(toRem(24px), toRem(24px));
  }
}