.sidebar-ctg {
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  overflow: auto;
  transition: 0.5s;
  padding-top: 60px;
  padding: 0;
  width: 100%;
  position: sticky;
}

element.style,
#mySidenav {
  width: 100%;
  padding: 20px 18px 25px;
}

.sidebar-ctg-a {
  text-decoration: white;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}

.sidebar-ctg-a:hover {
  color: #f1f1f1;
}

.sidebar-ctg {
  z-index: 0;
  background-color: none;
  width: 0;
  margin-top:93px;
  padding-top: 60px;
  transition: all .5s;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
}

.sidebar-ctg {
  border: 1px solid $color-line;
  border-radius: 20px;
  @extend .product__name;

  &__head {
    display: flex;
  }


  &__fill {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;
    border-bottom: 1px solid $color-line;
    margin-bottom: 24px;
  }

  &__list {
    display: grid;
    gap: 20px;
    padding-bottom: 24px;
    border-bottom: 1px solid $color-line;
    margin-bottom: 24px;

    &-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 16px;
    }

    &__head-desc {
      display: flex;
    }
  }

  &__price {
    padding-bottom: 24px;
    border-bottom: 1px solid $color-line;
    margin-bottom: 24px;

    &-head {
      align-items: center;
      padding-bottom: 24px;
    }

    &-title {
      @extend .product__name;
      margin-bottom: 0;
    }

    &-slider {
      width: 100%;
    }
  }

  &__color {
    padding-bottom: 24px;
    border-bottom: 1px solid $color-line;
    margin-bottom: 24px;

    &-title {
      @extend .product__name;
      margin-bottom: 24px
    }

    &-group {
      @extend .detail__color-group;
      display: grid;
      grid-template-columns: repeat(7, 37px);
      justify-content: space-between;
    }
  }

  &__range {
    width: 100%;
    display: block;
  }

  &__size {
    padding-bottom: 24px;
    border-bottom: 1px solid $color-line;
    margin-bottom: 24px;

    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
    }
  }

  &__dress {
    padding-bottom: 0px;

    &-list {
      @extend .sidebar-ctg__list;
      padding-bottom: 0;
      border: none;
    }
  }
}

.dola {
  position: absolute;
  margin-top: -20px;
  margin-left: 40px;
}

input[type="range" i] {
  appearance: auto;
  cursor: default;
  color: -internal-light-dark(rgb(16, 16, 16), rgb(255, 255, 255));
  padding: initial;
  border: initial;
  margin: 2px;
  width: 100%;
}


@include desktop {
  .sidebar-ctg {
    display: block;
    max-width: 295px;
    position: static;
    margin-bottom: 187px;
    margin-top:0px;
  }

  .sidebar-ctg__color-group{
    grid-template-columns: repeat(5, 1fr);
  }

  .sidebar-ctg-a {
    display: none;
  }


.sidebar-ctg {
  overflow: visible;
}
}