.banner {
  background-color: $bg-primary;
  font-family: $font-secondary;
  min-width: toRem(390px);

  &__wrapper {
    @extend %flexbox-items-space-between;
    @extend %flexbox-items-wrapped;
    max-width: toRem(1240px);
  }

  &__title {
    font-size: toRem(36px);
    margin: 0 auto;
  }

  &__content {
    @extend %flexbox-items-wrapped;
    padding: toRem(40px) toRem(16px);
    gap: toRem(20px);
    margin-left: auto;
    width: 100%;
  }

  &__btn {
    margin-top: toRem(4px);
    padding: toRem(15px)toRem(141.5px);
    height: 52px;
    width: 100%;
  }

  &__desc {
    font-size: toRem(14px);
    margin: 0 auto;
  }

  &__img {
    background-image: url('/assets/images/banners/bg-banner.svg');
    @extend %flexbox-items-space-between;
    @include min-size(toRem(390px), toRem(447px));
    margin: 0 auto;
    height: 100%;
  }

  &__img-left {
    margin: toRem(137px) 0 0 toRem(27px);
    @include width-height(toRem(44px), toRem(44px));
  }

  &__img-right {
    @include width-height(toRem(76px), toRem(76px));
    margin: toRem(40px) toRem(21px) 0 0;
  }
}

@include desktop {
  .banner {
    background-image: url('/assets/images/banners/rectangle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    flex-wrap: nowrap;

    &__wrapper {
      margin: 0 auto;
      flex-wrap: nowrap;
      width: 100%;
    }

    &__content {
      padding: toRem(103px) 0;
      min-width: toRem(596px);
      gap: toRem(32px);
      text-align: left;
    }

    &__title {
      font-size: toRem(64px);
      line-height: toRem(64px);
    }

    &__btn {
      padding: toRem(15px) toRem(67.5px);
      margin-top: toRem(0px);
      margin-bottom: toRem(16px);
      width: max-content;
    }

    &__desc {
      font-size: toRem(16px);
    }

    &__img {
      background-image: none;
      min-width: toRem(700px);
      height: 100%;
    }

    &__img-left {
      @include width-height(toRem(56px), toRem(56px));
      margin-top: toRem(325px);
    }

    &__img-right {
      @include width-height(toRem(104px), toRem(104px));
      margin-top: toRem(86px);
    }
  }
}