.feedback {
  font-family: $font-secondary;
  margin-bottom: toRem(49.81px);

  &__heading {
    display: flex;
    align-items: end;
    justify-content: space-between;
    margin-bottom: toRem(24px);
  }

  &__action {
    display: flex;
    gap: toRem(16px);
  }

  &__btn {
    border: toRem(1px) solid $color-text-secondary;
    background-color: $color-text-secondary;
    padding: 0;

    &:hover {
      background-color: $color-text-primary;
      color: $color-secondary;
    }

    &:active {
      box-shadow: 2px 2px 5px $color-text-primary;
    }
  }

  &__title {
    font-size: toRem(32px);
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    gap: toRem(20px);
  }
}

@include desktop {
  .feedback {
    width: 100%;
    margin-bottom: toRem(80.42px);

    &__heading {
      margin-bottom: toRem(40px);
    }

    &__title {
      font-size: toRem(48px);
    }
  }
}